body{
    background-color: lightsteelblue;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    padding: 10px;
    background-color: teal;
    margin: -1.5%;
}
.container h1{
    float: left
    font-size:40px;
    text-transform:uppercase;
    text-align:center;
}
.container h2{
    font-size: 30px;
    text-align: center;
}
.container h4{
    text-align: center;
    text-decoration: underline;
}
 a:hover{
    background-color: blue;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: black;
    
    font-size: 30px;
}
.grid-container a{
    text-decoration: none;
    color: white;
}

#speakers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    
}
#speakers h3{
    text-align: center;
    font-size: 25px;
}
#speakers img{
    display: block;
    width: 100%;
    height: 350px;
}
#speakers > :nth-child(odd){
    background-color: thistle;
}
#speakers > :nth-child(even){
    background-color: khaki;
}
#speakers p{
    text-align: center;
}
.container4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em;
    background-color: coral;
}
.container4 h3{
    text-align: center;
    font-size: 30px;
}
img{
    display: block;
    width: 100%;
    height: 350px;
}
#Venue{
    background-color: lavender;
}
#register{
    border: 1px solid white;
    text-decoration: none;
    
    border-radius: 0px;
    color: white;
    
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 15%;
   text-align: center;
   font-size: 15px;
}
footer{
    text-align: center;
    background-color: teal;
    margin: -1.5%;
}
footer p{
    font-size: 20px;
}
main section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
}